/*                        1440px          */

@media (max-width: 90em) {

  .main-block__img img {
    object-position: right;
  }
}

/*                        1020px          */

@media (max-width: 63.75em) {

  .achievements-bottom-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .abb-item {
    width: 25%;
    padding: 2rem 3rem;
  }

  .abb-text {
    width: 100%;
    text-align: center;
  }

  .services-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service {
    width: 50%;
  }
}

/*                         992px          */

@media (max-width: 62em) {

  .header__menu {
    margin: 0 0 0 10rem;
  }

  .menu__link {
  font-size: 2rem;
  }

  .main-block__title {
  font-size: 4.67rem;
  }

  .main-block__img {
    opacity: 0.5;
  }

  .main-block__body {
    padding: 14rem 0 19.1rem 0;
  }

  html {
    font-size: 56.25%;
  }

  .services__wrapper {
    flex-wrap: wrap;
  }

  .services__column{
    flex: 1 0 50%;
  }

  .achievements-bottom-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .abb-item {
    width: 50%;
  }
}

/*                         767px          */

@media (max-width: 47.9375em) {

  .service {
    width: 60%;
  }
}

/*                         479px          */

@media (max-width: 29.9375em) {

  .header__menu {
  margin: 0 0 0 5rem;
  }

  .header__container {
    min-height: 7rem;
  }

  .header__logo{
    padding: 2rem;
    align-self: flex-start;
  }

 html {
    font-size: 50%;
  }

    .main-block__title {
    margin: 4rem 0 0 0  ;
  }

  .main-block__text{
    margin-top: -7rem;
    color: #191919
  }

.main-block__body > *:not(:last-child) {
    padding-bottom: 4rem;
  }

   .menu__link {
  font-size: 2.25rem;
  color: #323131;
  }

  .main-block__button {
    width: 100%;
  }

  .main-block__buttonі {
    margin-top: 4rem;
  }

  .smfb-text {
    width: 100%;
  }

  .abb-item {
    padding: 2rem 2rem;
  }

  .service {
    width: 100%;
  }
}
