/*
*********************   Spacing System (px) *******************
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*********************   Font Size System (px) *******************
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* @import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  line-height: 1;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background-color: #fafafa;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="container"] {
  max-width: 105rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.page {
  flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/************             Header     ***************/

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.header__container {
  display: flex;
  min-height: 10.4rem;
  align-items: center;
}

.header__logo {
  font-size: 2.4rem;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 13.3rem;
  padding: 1rem 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child){
  margin: 0 2.1rem 0 0;
}

.menu__link {
  font-size: 1.4rem;
  color: #737373;
  font-weight: 600;
  line-height: 171%;
}

/************               Page     ***************/

.main-block {
  position: relative;
  /* background:#ededed */
}

.main-block__body {
  position: relative;
  padding: 18.4rem 0 19.1rem 0;
  z-index: 2;
  max-width: 45rem;
}

.main-block__body > *:not(:last-child) {
  margin-bottom: 3.5rem;
}

.main-block__title {
  font-weight: 800;
  font-size: 5.8rem;
  line-height: 138%;
  letter-spacing: 0.02rem;
}

.main-block__text {
  color: #737373;
  font-size: 2rem;
  height: 6rem;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

.main-block__buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.main-block__button {
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 3.7rem;
  min-height: 4.8rem;
  letter-spacing: 0.02rem;
  font-weight: 700;
  text-align: center;
  line-height: 250%;
  padding: 1rem 3.6rem;
}

.main-block__button_orange {
  background: #ff7b47;
  color: #ffffff;
}

.main-block__button_border {
  color: #0d5c63;
  border: 0.1rem solid #0d5c63;
}

.main-block__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************           Services     ***************/

.page__section-services {
  position: relative;
  margin-top: -11.1rem;
  z-index: 2;
}

.services__wrapper {
  display: flex;
  gap: 3rem;
}

.services__column {
  flex: 0 1 33.333%;
  padding: 3.5rem 4rem;
  box-shadow: 0 1.3rem 1.9rem rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}

.services__item > *:not(:last-child) {
  margin-bottom: 1rem;
}

.services__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 133%;
  letter-spacing: 0.01rem;
}

.services__text {
  color: #737373;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 142%;
  letter-spacing: 0.02rem;
}

.services__column_green {
  background-color: #0d5c63;
  color: #ffffff;
}

.services__column_green .services__text{
  color: #ffffff;
  display: flex;
}

/************       Achievements     ***************/

.achievements {
  padding: 8rem 0;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 142%;
  letter-spacing: 0.02rem;
}

.header-block__text {
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.01rem;
  color: #737373;
}

.achievements__header:not(:last-child) {
  margin-bottom: 5rem;
}

.header-block__title:not(:last-child) {
  margin-bottom: 1rem;
}

.achievements__body {
  display: flex;
  gap: 3rem;
}

.achievements__column {
  padding: 0 .5rem;
  flex: 0 1 25%;
}

.achievements__item > *:not(:last-child) {
  margin-bottom: 1rem;
}

.achievements__item {
  padding: 3rem 3rem;
  font-weight: 700;
  background-color: #ffffff;
  text-align: center;
}

.achievements__value {
  font-size: 4rem;
  line-height: 142%;
  letter-spacing: 0.02rem;
}

/************       Advice    ***************/

.advice {
  padding: 12.5rem 0 8rem 0;
}

.advice__header:not(:last-child) {
  margin-bottom: 5rem;
}

.advice__body {
  display: flex;
  gap: 3rem;
}

.advice__column {
  padding: 0 -1.5rem;
  flex: 0 1 25%;
}

.item-advice {
  background:#ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-advice__content {
  padding: 3rem;
  flex: 1 1 auto;
}

.item-advice__link {
  color:inherit;
  display: inline-block;
}

.item-advice__link:not(:last-child) {
  margin-bottom: 1.5rem;
}

.item-advice__link:hover {
  text-decoration: underline;
}

.item-advice__title {
  font-weight: 700;
  letter-spacing: .01rem;
  font-size: 1.6rem;
  line-height: 150%;
}

.item-advice__text {
  color: #737373;
  line-height: 142%;
}

.item-advice__img {
  display: block;
  padding: 0  0 60% 0;
}

/*                      Who             */

.who {
  background: #fff;
  padding: 10rem 0;
}

.who__header {
  margin-bottom: 10rem;
}

.who__body {
  display: flex;
  gap: 12rem;
}

.who__video {
  position: relative;
  flex: 0 0 57%;
  padding: 0 0 42.25% 0;
}

.who__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.who__content {
  flex: 1 1 auto;
}

.who__title 

.who__text 

.who__items 

.who__item 

.item-who 

.item-who__icon 

.item-who__body 

.item-who__title 

.item-who__text 
